<form action="/search" method="GET">
  <label for="citycontrol">City</label>
  <input type="text" name="ciudad" id="citycontrol">
  <br>
  <label for="dateincontrol">Start-Date</label>
  <input type="date" name="start-date" id="dateincontrol">
  <br>
  <label for="dateoutcontrol">End-Date</label>
  <input type="date" name="end-date" id="dateoutcontrol">
  <br>
  <button type="submit">SEARCH</button>
</form>